%h1= I18n.t(:edit) + I18n.t(:column)
- form_for(@column) do |f|
  = f.error_messages
  %p
    = f.label I18n.t(:name)
    %br= f.text_field :name
    = f.label I18n.t(:type)
    %br= f.text_field :column_type
    = f.label I18n.t(:null)
    %br= f.text_field :null
    = f.hidden_field :table_id
  %p= submit_tag(I18n.t(:edit) + I18n.t(:column))


