%h1= 'New Column'
- form_for(@column) do |f|
  = f.error_messages
  %p
    = f.label I18n.t :name
    %br= f.text_field :name
    = f.label I18n.t :column_type
    %br= f.text_field :column_type
    = f.label I18n.t :null_column
    %br= f.text_field :null
    = f.hidden_field :table_id
  %p= submit_tag('Add New Column')


