%h1= I18n.t(:table) + ": #{@table.name}"
=link_to(I18n.t(:addacolumn), :controller => 'columns', :action => 'new', :table_id => @table.id)
%table
  %tr
    %th= I18n.t 'name'
    %th= I18n.t 'type'
    %th= I18n.t 'null_column'
  - @table.columns.each do |column|
    %tr
      %td= "#{column.name}"
      %td= column.column_type
      %td= column.null
      %td= link_to(I18n.t('view'),:controller => 'columns', :action => 'show',:column => 'id')
      %td= link_to(I18n.t('edit'), edit_column_path(column))
      %td= link_to(I18n.t('delete'), column, :confirm => I18n.t(:areyousure), :method => :delete)
