%h1= "Table: #{@table.name}"
=link_to('Add a Column', :controller => 'columns', :action => 'new', :table_id => @table.id)
%table
  %tr
    %th= I18n.t 'name'
    %th= I18n.t 'type'
    %th= I18n.t 'null'
    %th= I18n.t 'view'
    %th= I18n.t 'edit'
  - @table.columns.each do |column|
    %tr
      %td= "#{column.name}"
      %td= column.column_type
      %td= column.null
      %td= link_to(I18n.t 'view',:controller => 'columns', :action => 'show',:column => 'id')
      %td= link_to(I18n.t 'edit',edit_column_path(column))
      %td= link_to(I18n.t 'delete', column, :confirm => "Are you sure?", :method => :delete)
