%h1= 'Edit a database'
- form_for @database do |db|
  = db.error_messages
  %p
    = db.label :name
    %br= db.text_field :name
    = db.label :users
    %select{:name => 'database[user_id]', :id => 'database_user_id'}
      - @users.each do |user|
        %option{:value => user.id}
          = user.name

  %p= submit_tag('Edit Database')
