%h1= I18n.t(:editadatabase)
- form_for @database do |db|
  = I18n.t(db.error_messages)
  %p
    = db.label I18n.t(:name)
    %br= db.text_field :name
    = db.label I18n.t(:users)
    %select{:name => 'database[user_id]', :id => 'database_user_id'}
      - @users.each do |user|
        %option{:value => user.id}
          = user.name

  %p= submit_tag(I18n.t(:edit) + ' ' + I18n.t(:database))
