%h1= 'All user Databases'
- if current_user
  %h1= 'My Databases'
  %table
    %tr
      %th= 'Name'
    - @mydatabases.each do |database|
      %tr
        %td= link_to(database.name, database)
        %td= link_to('Delete', database, :confirm => "Are you sure?", :method => :delete )
%h4= 'Please login above'

