%h1= I18n.t(:addadatabase)
- form_for @database do |db|
  = I18n.t(db.error_messages)
  %p
    = db.label I18n.t(:name)
    %br= db.text_field :name
  %p= submit_tag(I18n.t(:add) + ' ' + I18n.t(:database))
