%h1= "Database: #{@database.name}"
=link_to('Add a Table', :controller => 'tables', :action => 'new', :database_id => @database.id)
%table
  %tr
    %th= 'Name'
    %th= 'View'
    %th= 'Edit'
  - @database.tables.each do |table|
    %tr
      %td= table.name
      %td= link_to('View',:controller => 'tables', :action => table.id.to_s)
      %td= link_to('Edit',edit_table_path(table))
      %td= link_to('Delete', table, :confirm => "Are you sure?", :method => :delete)

