%h1= I18n.t(:database) + ": #{@database.name}"
=link_to(I18n.t(:addatable), :controller => 'tables', :action => 'new', :database_id => @database.id)
=link_to(I18n.t(:back), :controller => 'databases', :action => 'index')
%table
  %tr
    %th= I18n.t(:name)
    %th= I18n.t(:view)
    %th= I18n.t(:edit)
  - @database.tables.each do |table|
    %tr
      %td= table.name
      %td= link_to(I18n.t(:view),:controller => 'tables', :action => table.id.to_s)
      %td= link_to(I18n.t(:edit),edit_table_path(table))
      %td= link_to(I18n.t(:delete), table, :confirm => I18n.t(:areyousure), :method => :delete)

