%title= I18n.t(:login)
- form_for @user_session do |f|
  %p
    = f.label I18n.t :username
    %br= f.text_field :username
  %p
    = f.label I18n.t :password
    %br= f.password_field :password
  %p
    = submit_tag(I18n.t(:login))
