!!! 
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
	%head
		%meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
		%title= 'JXI Database Manager'
		= stylesheet_link_tag('master')
		%script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'}
		- if protect_against_forgery?
			%script{:type => 'text/javascript'}
				= '//<![CDATA['
				window._auth_token_name = "#{request_forgery_protection_token}";
				window._auth_token = "#{form_authenticity_token}";
				= '//]]>'
		= javascript_include_tag('application')
	%body
		%p{:style => 'color: green'}
			= flash[:notice]
		.user_nav
			- if current_user
				= link_to((I18n.t :edit) + ' ' + (I18n.t :profile), edit_user_path(:current))
				= link_to((I18n.t 'logout'), logout_path)
			- else
				= link_to((I18n.t 'register'), new_user_path)
				= link_to((I18n.t 'login'), login_path)
			- form_tag '' do
				= select_tag("locale", options_for_select(['en', 'ja'], I18n.locale), { :index => nil, :onchange => 'this.form.submit()'}) 
		= yield

